{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block nav_homepage %}active{% endblock %}

{% block content %}
<div class="container-fluid">
    
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12" align="center">
            <h1>Hey Congress!</h1>
            <img class="myImg" border="0" src="./static/images/capital.png" alt="Capitol">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12" align="center">
            <h3>Sign Up</h3>
            <p> Create an account to start communicating with your senator</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <form action='/register' method='POST' id='registration' class='user-info'>
                First name:<input type='text' name='first_name' id='first_name'><br>
                Last name:<input type='text' name='last_name' id='last_name'><br>
                E-mail: <input type='text' name='e-mail' id='e-mail'><br><br>
                Zipcode: <input type='text' name='zipcode' id='zipcode'><br>
                Voter regisration number <input type='text' name='registration_num' id='registration_num'><br>

                Please create a password:<br>
                <input type='password' name='password' id='password'><br>
                <input type='submit' value='Submit'>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12" align="center">
            <p>Already a user? Please <a href="/login">sign in</a></p>

</div>

<script src='/static/validate_registration.js'></script>
{% endblock %}